.App {
  background-color: var(--bg-color);
  min-height: 100vh;
  color: white;
}

.header {
  width: 100%;
  border-bottom: 2px solid var(--main-accent-color);
}

.general-content {
  display: grid;
  grid-template-columns: 15rem 1fr;
}

.sidebar {
  padding: 1rem;
  background-color: var(--bg-light-color);
  height: calc(100vh - 150px)
}

.main {
  padding: 1rem;
}


/* group-details */

.dateTime {
  font-size: 2rem;
  margin-right: 3rem;
  color: var(--main-accent-color);
}
