.App {
  background-color: var(--bg-color);
  min-height: 100vh;
  color: white;
}

.header {
  width: 100%;
  border-bottom: 2px solid var(--main-accent-color);
}

.general-content {
  display: grid;
  grid-template-columns: 15rem 1fr;
}

.sidebar {
  padding: 1rem;
  background-color: var(--bg-light-color);
  height: calc(100vh - 150px)
}

.main {
  padding: 1rem;
}


/* group-details */

.dateTime {
  font-size: 2rem;
  margin-right: 3rem;
  color: var(--main-accent-color);
}

.member-container {
  display: flex;
  align-items: center;
  gap: 1rem;
}

/* user */

.user-cont {
  width: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.username {
  padding: 0;
  margin: 0;
}

/* comments */

.comment-cont {
  display: grid;
  grid-template-columns: 1fr 3fr;
  align-items: center;
}

.dialog-box {
  margin-bottom: 20px;
}

.dialog-body {
  position: relative;
  padding: 5px;
  background-color: var(--bg-light-color);
  border-radius: 5px;
  border: 1px solid var(--main-accent-color);
}

.tip {
  width: 0;
  height: 0;
  position: absolute;
  background-color: transparent;
  border: 10px solid var(--bg-light-color);
  top: 5px;
  left: -25px;
  border-top-color: transparent;
  border-left-color: transparent;
  border-bottom-color: transparent;
}

.body-message {
  color: white;
  font-weight: 600;
}

.time {
  float: right;
}
