.App {
  background-color: var(--bg-color);
  min-height: 100vh;
  color: white;
}

a:hover {
  color: var(--main-accent-color-dark);
}

.header {
  max-width: 100%;
  border-bottom: 2px solid var(--main-accent-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 1rem;
  position: relative;
}

.nav {
  display: flex;
  width: 50%;
  right: 0;
  justify-content: space-around;
}

.header {
  font-weight: 800;
  font-size: 1.4rem;
}

.nav>a:nth-child(1) {
  color: var(--color-yellow);
}

.nav>a:nth-child(2) {
  color: var(--color-blue);
}

.nav>a:nth-child(3) {
  color: var(--main-accent-color);
}

.nav>a:nth-child(4) {
  color: var(--color-green);
}

.nav>a:hover {
  color: var(--main-accent-color-dark)
}

.general-content {
  display: grid;
  grid-template-columns: 15rem 1fr;
  min-height: calc(100vh - 150px);
}

.main {
  padding: 1rem;
  min-height: 100%;
  background-color: var(--bg-color);
}

.highlight {
  color: var(--main-accent-color-dark);
}

/* sidebar */

.sidebar {
  padding: 1rem;
  background-color: var(--bg-light-color);
  height: 100%;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.login-submit-cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.user-actions-cont {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: flex-start;
}

/* group-details */

.dateTime {
  font-size: 2rem;
  margin-right: 0.5rem;
  color: inherit;
}

.member-container {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

.group-list-cont {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.new-group-btn {
  width:fit-content;
}

.group-list-item-cont {
  text-align: left;
  border: 2px solid var(--main-accent-color);
  border-radius: 124px;
  padding: 0 1rem;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 50%;
}

.member-count-cont {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.group-background {
  max-height: 65%;
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 0;
}

.group-event-cont {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0 1rem;
}

.group-details-cont {
  background-color: var(--dark-color);
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border-radius: 20px;
  margin-bottom: 1rem;
  justify-content: center;
  align-items: center;
}

.member-list-cont {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

/* user */

.user-cont {
  width: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.username {
  padding: 0;
  margin: 0;
}

/* comments */

.comment-cont {
  display: grid;
  grid-template-columns: 1fr 3fr;
  align-items: center;
}

.dialog-box {
  margin-bottom: 20px;
}

.dialog-body {
  position: relative;
  padding: 5px;
  background-color: var(--dark-color);
  border-radius: 5px;
  border: 1px solid var(--main-accent-color);
}

.tip {
  width: 0;
  height: 0;
  position: absolute;
  background-color: transparent;
  border: 10px solid var(--main-accent-color);
  top: 5px;
  left: -25px;
  border-top-color: transparent;
  border-left-color: transparent;
  border-bottom-color: transparent;
}

.body-message {
  color: white;
  font-weight: 600;
}

.time {
  float: right;
}

.comments-cont {
  grid-column: span 2 ;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.comments-cont button {
  width: fit-content;
}
/* events */

.bets {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  margin: 5px 0 0 0;
  align-items: center;
}

.event-info {
  display: flex;
  background-color: var(--color-green);
  border-radius: 62px;
  margin-bottom: 1rem;
  align-items: center;
  justify-content: space-around;
  font-weight: 800;
  color: var(--dark-color);
  cursor: pointer;
}

.event-info:hover {
  color: var(--main-accent-color-dark);
}

.event-detail-cont {
  align-self: flex-end;
  min-width: 50%;
}


/* landing */
.landing-background {
  max-height: 80%;
  position: fixed;
  bottom: 0;
  left: 10%;
  z-index: 0;
}

.landing-page-cont {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  position: relative;
}

.landing-info-cont {
  background-color: var(--bg-color);
  z-index: 1;
  max-width: 40%;
  border-radius: 62px;
  padding: 0 2rem;
  line-height: 2em;
}

.landing-info-cont>h1, h2 {
  color: var(--color-yellow);
  text-align: center;
  margin-top: 0;
}

.landing-breakaway-small-cont {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 124px;
  background-color: var(--dark-color);
  margin-bottom: 1rem;
}

.landing-breakaway-small-cont:hover {
  color: var(--main-accent-color-dark);
}

.landing-breakaway-cont {
  background-color: var(--dark-color);
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border-radius: 20px;
  margin-bottom: 1rem;
  justify-content: center;
}

.breakaway-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  color: var(--color-dark-yellow);
  font-weight: 800;
  font-size: 1.2rem;
}

.button-cont {
  align-self: flex-end;
  gap: 1rem;
  display: flex;
}

.button-cont-alt {
  align-self: center;
  gap: 1rem;
  display: flex;
}

.event-cont {
  display: flex;
  flex-direction: column;
}

/* about */

.about-background {
  max-height: 80%;
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 0;
}

.about-cont {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  flex-direction: column;
}

.bio-instructions-cont {
  display: flex;
  justify-content: space-evenly;
}

.info-cont {
  z-index: 1;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: 1rem;
  width: 100%;
  gap: 1rem;
}

.about-instructions-cont {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 20px;
  z-index: 1;
  color: black;
  width: 400px;
  align-self: center;
  padding: 1rem;
  box-shadow: 7px 7px 1px 1px var(--color-blue);
}

.about-info-cont {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 20px;
  z-index: 1;
  color: black;
  width: 400px;
  padding: 1rem;
  height: 220px;
  box-shadow: 7px 7px 1px 1px var(--color-blue);
}

.about-cont h2 {
  color: var(--bg-light-color);
  margin: 0;
}

/* mission */
.mission-background {
  max-height: 80%;
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 0;
}

.mission-cont {
  min-height: 100vh;
  display: flex;
}

/* register */
.register-cont {
  display: flex;
  flex-direction: column;
}
.sign-up-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 5px solid var(--main-accent-color-dark);
  padding: 2rem 10rem;
  align-self: center;
  border-radius: 62px;
}

.sign-up-cont h1 {
  color: var(--color-yellow);
}

.register-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.chart-cont {
  width: 900px !important;
  height: 500px !important;
}

@media screen and (max-width: 1200px){
  .landing-background {
    max-height: 50%;
  }

  .about-background {
    max-height: 50%;
  }

  .group-background {
    max-height: 50%;
  }

  .bio-instructions-cont {
    flex-direction: column;
    gap: 1rem;
  }

  .about-instructions-cont {
    align-self: flex-start;
  }

  .info-cont {
    flex-direction: column;
  }

  .event-detail-cont {
    align-self: auto;
  }

  .chart-cont {
    width: 700px !important;
  }
}

@media screen and (max-width: 1000px) {
  .chart-cont {
    width: 600px !important;
  }
}

@media screen and (max-width: 900px){
  .general-content {
    grid-template-columns: 10rem 1fr;
  }
  .landing-background {
    display: none;
  }

  .mission-background {
    display: none;
  }

  .group-background {
    max-height: 30%;
  }

  .landing-info-cont {
    max-width: 100%;
  }

  .about-instructions-cont {
    width:auto;
  }

  .about-info-cont {
    width:auto;
    height: auto;
  }

  .group-event-cont {
    display: block;
  }

  .chart-cont {
    width: 500px !important;
  }
}

@media screen and (max-width: 750px) {
  .chart-cont {
    width: 400px !important;
  }
}

@media screen and (max-width: 650px){
  .general-content {
    grid-template-columns: 1fr;
  }

  .breakaway-list {
    grid-template-columns: 1fr;
  }

  .landing-info-cont {
    padding: 0 0.5rem;
    border-radius: 0;
  }

  .sidebar {
    display: none;
  }

  .nav {
    width: auto;
  }

  .group-background {
    display: none;
  }

  .group-list-item-cont {
    width: auto;
  }

  .sign-up-cont {
    padding: 1rem;
    width: 95%;
  }

  .comment-cont {
    grid-template-columns: 1fr 2fr;
  }

  .chart-cont {
    width: 380px !important;
  }
}
